-# Link to the "Last" page
  - available local variables
    url:           url to the last page
    current_page:  a page object for the currently displayed page
    num_pages:     total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
= render Site.current.theme.template_path('pagination/last_page'), url: url, current_page: current_page, num_pages: num_pages, per_page: per_page, remote: remote
