.row
  .col-xs-12.col-sm-3.left-col

    .list-group
      = listgroup_item(t('.source.upload'), new_bold_site_asset_path(current_site)){ @source.blank? || @source == 'upload' }
      = listgroup_item(t('.source.url'), new_bold_site_asset_path(current_site, source: 'url')){ @source == 'url' }
      = call_hook :view_assets_new_sources_list

  .col-xs-12.col-sm-8.right-col

    = render partial: @source

