%meta{:charset => "utf-8"}/
%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
%link{:rel => 'shortcut icon', :href => image_path('bold/favicon.ico')}/
%title= app_title
= stylesheet_link_tag 'bold', media: 'all'
= javascript_include_tag 'bold'
= csrf_meta_tags

