.row
  = render 'admin/users/left_col'

  .col-xs-12.col-sm-7.col-md-6.col-sm-offset-1.right-col
    %h2= t'.heading'
    - if @users.any?
      = render 'admin/users/users'
    - else
      %p= t '.no_data'

