.row
  .col-xs-12.col-sm-offset-1.col-sm-10

    %h2= t '.heading'

    %table.table
      %tbody
        - for site in @sites
          %tr
            %td
              = link_to site.name, bold_site_path(site)
              - if (count = site.unread_items.for(current_user).count) > 0
                %span.badge= link_to count, bold_site_activity_comments_path(site)



